ion-avatar  {     
  width:100% !important;  
  height : 100% !important;  
  max-width: 200px !important;  
  max-height: 200px !important; 
}

ion-avatar { 
  width: 200px !important;  
  height: 200px !important;  
}

ion-avatar img  {
  width:100% !important;
  height : 100% !important;
  max-width: 200px !important;  //any size
  max-height: 200px !important; //any size
  }

.center {
  display: flex;
  justify-content: center;
}