
// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-narrow-margin);

  --page-categories-gutter: calc(var(--page-margin) / 4);

  --page-category-background: var(--ion-color-medium);
  --page-category-background-rgb: var(--ion-color-medium-rgb);
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.categories-list {
  --ion-grid-column-padding: var(--page-categories-gutter);

  padding: calc(var(--page-categories-gutter) * 3);
  height: 100%;
  align-content: flex-start;
  overflow: scroll;
  


  /* alt - Categorie Link Mitte Center
  .category-item {
    .category-anchor {
      height: 100%;
      text-decoration: none;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      
      .category-title {
        margin: auto;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 1px;
        padding: calc((var(--page-margin) / 4) * 3) var(--page-margin);
        color: var(--ion-color-lightest);
        background-color: var(--page-category-background);
        border-radius: var(--app-fair-radius);
      }
    }
  }
  */

  .category-item {
    .category-anchor {
      height: 100%;
      text-decoration: none;
      display: flex;
      
      //justify-content: flex-start;
      justify-content: center;
      align-items: flex-start;
      
      .category-title {
        margin: auto;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 0.8em !important;
        letter-spacing: 1px;
        position: absolute;
        bottom: 8px;
        padding: calc((var(--page-margin) / 4) * 3) var(--page-margin);
        color: var(--ion-color-primary-contrast);
        background-color: var(--page-category-background);
        border-radius: var(--app-fair-radius);
      }
    }
  }

  .travel-category {
    --page-category-background: #00AFFF;
    --page-category-background-rgb: 0,175,255;
  }

  .fashion-category {
    --page-category-background: #cb328f;
    --page-category-background-rgb: 203,50,143;
  }

  .food-category {
    --page-category-background: #ebbb00;
    --page-category-background-rgb: 235,187,0;
  }

  .deals-category {
    --page-category-background: #70df70;
    --page-category-background-rgb: 112,223,112;
  }

  .real-estate-category {
    --page-category-background: #d9453a;
    --page-category-background-rgb: 217,69,58;
  }
}


// (Note: Don't change the order of the devices as it may break the correct css precedence)

// (see: https://css-tricks.com/snippets/css/media-queries-for-standard-devices/#iphone-queries)
// (see: https://stackoverflow.com/a/47750261/1116959)

/* ----------- iPhone 4 and 4S ----------- */
@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (device-aspect-ratio: 2/3)
  // uncomment for only portrait:
  // and (orientation: portrait)
  // uncomment for only landscape:
  // and (orientation: landscape)
{
  .categories-list {
    .category-item {
      .category-anchor {
        .category-title {
          font-size: 16px;
        }
      }
    }
  }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (device-aspect-ratio: 40 / 71)
  // uncomment for only portrait:
  // and (orientation: portrait)
  // uncomment for only landscape:
  // and (orientation: landscape)
{

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen
  and (min-device-width : 375px)
  and (max-device-width : 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  // uncomment for only portrait:
  // and (orientation: portrait)
  // uncomment for only landscape:
  // and (orientation: landscape)
{
  .categories-list {
    .category-item {
      .category-anchor {
        .category-title {
          font-size: 20px;
          padding: var(--page-margin) calc((var(--page-margin) * 3) / 2) ;
        }
      }
    }
  }
}

/* ----------- iPhone X ----------- */
@media only screen
  and (min-device-width : 375px)
  and (max-device-width : 812px)
  and (-webkit-min-device-pixel-ratio : 3)
  // uncomment for only portrait:
  // and (orientation: portrait)
  // uncomment for only landscape:
  // and (orientation: landscape)
{
  .categories-list {
    .category-item {
      .category-anchor {
        .category-title {
          font-size: 20px;
          padding: var(--page-margin) calc((var(--page-margin) * 3) / 2) ;
        }
      }
    }
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
@media only screen
  and (min-device-width : 414px)
  and (max-device-width : 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  // uncomment for only portrait:
  // and (orientation: portrait)
  // uncomment for only landscape:
  // and (orientation: landscape)
{
  .categories-list {
    .category-item {
      .category-anchor {
        .category-title {
          font-size: 20px;
          padding: var(--page-margin) calc((var(--page-margin) * 3) / 2) ;
        }
      }
    }
  }
}







